:root{
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}
main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}
nav .logo{
    width: 84px;
    height: 27px;
    background-image: url(./images/logo.svg);
}
/***********************************Horizontal menu*******************/
nav .links-horiz{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul.navs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: max(30%,400px);
    /* background: rebeccapurple; */
    height: 30px;
    padding: 0 1rem;
}
nav ul.navs>li>button{
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    color: var(--gray);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    font-family: 'Epilogue', sans-serif;
}
nav ul.navs>li>button:hover{
    transition: .3s;
    color: var(--black);
}
nav ul.navs>li>button:focus img{
    transform: rotate(180deg);
    transition: .3s;
    margin-left: 5px;
}

nav .logup{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
nav .logup>button{
    background: none;
    border: none;
    outline: none;
    color: var(--gray);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Epilogue', sans-serif;
}
nav .logup>button:hover{
    color: var(--black);
}
nav .logup>button:nth-child(2){
    border: 2px solid var(--gray);
    padding: .5rem 1rem;
    border-radius: 10px;
}
nav .logup>button:nth-child(2):hover{
    border: 2px solid var(--black);
}
/*********** Features ***********/
nav ul.navs>.feat{
    position: relative;
}
nav ul.navs>.feat>button:focus{
    color: var(--black);
}
nav ul.navs>.feat>button:focus ~ ul.feat-menu{
    /* props to change */
    height: unset;
    opacity: 1;
    pointer-events: all;
    /* props to change */
    transition: .5s;

}
nav ul.navs>.feat>ul.feat-menu{
    /* props to change */
    height: 0;
    opacity: 0;
    pointer-events: none;
    /* props to change */
    overflow: hidden;
    transition: .5s;
    right: 0;
    top: 150%;
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 1rem 1.2rem;
    position: absolute;
    background: white;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    border-radius: 10px;
}
nav ul.navs>.feat>ul.feat-menu>li{
    color: var(--gray);
    padding: .3rem 0;
    /* background: rebeccapurple; */
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}
nav ul.navs>.feat>ul.feat-menu>li>img{
    margin-right: 8px;
    width: 20px;
}
nav ul.navs>.feat>ul.feat-menu>li>span{
    display: block;
    width: 90%;
    /* background: lightcoral; */
}

/************* Company ***************/
nav ul.navs>.comp{
    position: relative;
}
nav ul.navs>.comp>button:focus{
    color: var(--black);
}
nav ul.navs>.comp>button:focus ~ ul.comp-menu{
    /* props to change */
    height: unset;
    opacity: 1;
    pointer-events: all;
    /* props to change */
    transition: .5s;

}

nav ul.navs>.comp>ul.comp-menu{
    /* props to change */
    height: 0;
    opacity: 0;
    pointer-events: none;
    /* props to change */
    overflow: hidden;
    transition: .5s;
    left: 0;
    top: 150%;
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 1rem 1rem;
    position: absolute;
    background: white;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    border-radius: 10px;
}
nav ul.navs>.comp>ul.comp-menu>li{
    color: var(--gray);
    padding: .3rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}
#hamburger{
    display: none;
}

@media screen and (max-width:800px) {
    #hamburger{
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        height: 40px;
    }
    #hamburger>span{
        width: 100%;
        height: 5px;
        background: var(--black);
        transition: .5s;
    }
    #hamburger.active>span:nth-child(1){
        transform: rotate(45deg);
        transform-origin: left;
        transition: .5s;
    }
    #hamburger.active>span:nth-child(2){
        opacity: 0;
        transition: .5s;
    }
    #hamburger.active>span:nth-child(3){
        transform: rotate(-45deg);
        transform-origin: left;
        transition: .5s;
    }
    nav{
        position: relative;
    }
    nav .links-horiz.not-active{
        transform: translateX(100%);
        transition: .5s;
        box-shadow: none;
    }
    nav .links-horiz{
        transform: translateX(0%);
        transition: .5s;
        top: 0;
        right: 0;
        background: white;
        position: absolute;
        height: 100vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10vh 1rem;
        box-shadow: -350px 0 0px 150px rgba(0,0,0,0.5);
    }
    nav ul.navs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: unset;
        padding: 0 1rem;
    }
    nav ul.navs>li:nth-child(3){
        padding-bottom: 1.5rem;
    }
    nav .logup{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 70px;
        justify-content: space-between;
    }
    /************************************ features *****************************************/
    nav ul.navs>.feat{
        position: unset;
        min-height: 30px;
    }
    nav ul.navs>.feat>button:focus{
        color: var(--black);
    }
    nav ul.navs>.feat>button:focus ~ ul.feat-menu{
        /* props to change */
        height: unset;
        opacity: 1;
        pointer-events: all;
        /* props to change */
        transition: .5s;
    
    }
    nav ul.navs>.feat>ul.feat-menu{
        /* props to change */
        height: 0;
        opacity: 0;
        pointer-events: none;
        /* props to change */
        overflow: hidden;
        transition: .5s;
        right: 0;
        top: 150%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        list-style: none;
        padding: 1rem 1.2rem;
        position: unset;
        background: white;
        box-shadow: none;
        border-radius: 10px;
    }
    nav ul.navs>.feat>ul.feat-menu>li{
        color: var(--gray);
        padding: .3rem 0;
        /* background: rebeccapurple; */
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
    }
    /******************************company***********************************************/
    nav ul.navs>.comp{
        position: unset;
    }
    nav ul.navs>.comp>button:focus{
        color: var(--black);
    }
    nav ul.navs>.comp>button:focus ~ ul.comp-menu{
        /* props to change */
        height: unset;
        opacity: 1;
        pointer-events: all;
        /* props to change */
        transition: .5s;
    
    }
    
    nav ul.navs>.comp>ul.comp-menu{
        /* props to change */
        height: 0;
        opacity: 0;
        pointer-events: none;
        /* props to change */
        overflow: hidden;
        transition: .5s;
        left: 0;
        top: 150%;
        width: 150%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        list-style: none;
        padding: 1rem 1rem;
        position: unset;
        background: white;
        box-shadow: unset;
        border-radius: 10px;
    }
    nav ul.navs>.comp>ul.comp-menu>li{
        color: var(--gray);
        padding: .3rem 0;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
    }
}


.hero{
    width: 1100px;
    margin: auto;
    height: 90vh;
    display: flex;
    padding: 2rem 0;
}
.hero>aside.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero>aside.left>h1{
    font-size: 4rem;
    color: var(--black);
}
.hero>aside.left>h1>span{
    display: block;
}
.hero>aside.left>p{
    font-size: 1rem;
    width: 75%;
    color: var(--gray);
    margin-top: -40px;
}
.hero>aside.left>button{
    font-size: 1rem;
    font-weight: 700;
    font-family: inherit;
    background: var(--black);
    border: none;
    border-radius: 10px;
    color: var(--white);
    width: 150px;
    height: 50px;
    margin-top: -40px;
}
.hero>aside.left>ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 85%;
}

.hero>aside.right.imgBox{
    width: 50%;
    height: 100%;
    background-image: url(./images/image-hero-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width:1130px) {
    .hero{
        width: 100%;
        padding: 0 1rem;
    }
}
@media screen and (max-width:800px) {
    .hero{
        width: 100%;
        padding: 1rem .1rem;
        flex-direction: column-reverse;
    }
    .hero>aside.right.imgBox{
        width: 100%;
        height: 50%;
        background-image: url(./images/image-hero-mobile.png);
    }
    .hero>aside.left{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .hero>aside.left>h1{
        font-size: 2.2rem;
        color: var(--black);
        text-align: center;
    }
    .hero>aside.left>h1>span{
        display: inline;
    }
    .hero>aside.left>p{
        font-size: 1.2rem;
        width: 100%;
        color: var(--gray);
        margin-top: unset;
        text-align: center;
    }
    .hero>aside.left>button{
        margin-top: unset;
    }
    .hero>aside.left>ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 99%;
    }
}