@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'lexend';
    src: url(./fonts/LexendDeca-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.container{
    width: 1200px;
    height: 500px;
    background: hsl(244, 38%, 16%);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.container .intro-container{
    width: 100%;
    padding: 4em 14em 4em 6em;
}
.container .img-sec{
    width: 100%;
    background-image: url(./images/image-header-desktop.jpg);
    background-size: cover;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
}
.container .intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .intro .heading{
    color: hsl(0, 0%, 100%);
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'inter';
}
.container .intro .heading .hlight{
    color: hsl(277, 64%, 61%);
}
.container .intro .para{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 1em;
    font-weight: 400;
    font-family: 'inter';
    line-height: 1.5rem;
}
.container .intro .counter-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container .intro .counter-section .counters{
    color: hsla(0, 0%, 100%, 0.6);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'lexend';
}
.container .intro .counter-section .counters .count{
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    text-transform: none;
    font-weight: 700;
    font-family: 'inter';
}

@media  screen and (max-width:900px) {
    body{
        font-size: 14px;
        padding: 2em;
    }
    .container{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column-reverse;
    }
    .container .intro-container{
        width: 100%;
        height: 100%;
        padding: 1em;
    }
    .container .img-sec{
        width: 100%;
        height: 100%;
        background-image: url(./images/image-header-desktop.jpg);
        background-size: cover;
        background-color: hsl(277, 64%, 61%);
        background-blend-mode: multiply;
    }
}