*{
    padding: 0;
    margin: 0;
}
@font-face{
    src: url("/Food_Website/Brizzler-Bold.ttf");
    font-family: 'brizzler';
    font-weight: normal;
}
body{
    background: slategray;
    font-family: 'brizzler';
}
h2{
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #003;
}
img{
    width: 250px;
    border-radius: 0.5rem;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90vh;
    margin: auto;
}
.container .cardcont{
    position: relative;
    background: slateblue;
    width: 25%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    transition: 1s;
}
.cardcont .detcont{
    position: relative;
    opacity: 0;
    z-index: 1;
    transition: 1s;
    width: 250px;
    transform: translateY(-100%);
}
.cardcont .imgcont{
    z-index: 2;
    transition: 1s;
    transform: translateY(5%);
}
.container .cardcont:hover .imgcont{
    transform: translateY(-10%);
}
.container .cardcont:hover{
    height: 60vh;
    transition: 1s;
}
.container .cardcont:hover .detcont{
    transform: translateY(-10%);
    display: block;
    opacity: 1;
    transition: 1s;
    transition-delay: 0.2s;
}
