:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}
@font-face {
  font-family: 'poppins';
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'poppins-bd';
  src: url(fonts/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background: #fff;
  font-family: 'poppins';
  overflow-x: hidden;
}
main {
  padding: 2.5rem 0;
  width: 1100px;
  margin: auto;
}
nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 125px;
  height: 35px;
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
nav .menu-items {
  display: flex;
  width: 100%;
}
nav .menu-items ul {
  list-style: none;
  display: flex;
  font-family: 'poppins-bd';
  color: var(--grayish-violet);
}
nav .menu-items ul li {
  margin: 0 1em;
  cursor: pointer;
}
nav .menu-items .log-up {
  margin-left: auto;
}
nav .menu-items .log-up button {
  cursor: pointer;
  padding: 0.5em 2em;
  color: var(--grayish-violet);
  border-radius: 20px;
  font-family: 'poppins-bd';
  border: none;
  outline: none;
  background: none;
}
nav .menu-items .log-up button.sign-up {
  color: white;
  background: var(--cyan);
}
nav .menu {
  display: none;
}
section.intro {
  display: flex;
  padding: 4rem 0;
}
section.intro .contentBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section.intro .contentBox h1 {
  font-size: 4rem;
  font-family: 'poppins-bd';
  color: var(--very-dark-blue);
  line-height: 4.3rem;
}
section.intro .contentBox p {
  color: var(--grayish-violet);
  margin: 0 0 1em 0;
}
section.intro .contentBox button {
  padding: 0.5em 2em;
  border-radius: 20px;
  font-family: 'poppins-bd';
  border: none;
  outline: none;
  background: none;
  color: white;
  background: var(--cyan);
}
section.intro .imgBox {
  width: 50%;
  height: 500px;
  object-fit: cover;
  transform: translateX(100px);
  overflow: visible;
}
@media screen and (max-width: 1100px) {
  main {
    width: 100%;
  }
  nav {
    padding: 0 1rem;
  }
  section.intro {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 767px) {
  nav {
    z-index: 10;
    width: 100%;
    height: 10vh;
    position: relative;
  }
  nav .menu-items {
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    border-radius: 10px;
    background: var(--dark-violet);
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  nav .menu-items ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  nav .menu-items ul li {
    margin: 1em 0;
  }
  nav .menu-items .log-up {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--gray);
    width: 80%;
  }
  nav .menu-items .log-up button {
    margin: 1em 0;
    padding: 0.5em 2em;
    color: white;
  }
  nav .menu-items .log-up button.sign-up {
    color: white;
    background: var(--cyan);
  }
  nav .menu {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
  }
  nav .menu i {
    font-size: 1.1rem;
  }
  nav .menu-items {
    display: none;
  }
  nav .menu:focus + .menu-items {
    display: flex;
  }
  section.intro {
    padding: 1rem 0 6rem 0;
    display: flex;
    flex-direction: column-reverse;
  }
  section.intro .contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  section.intro .contentBox h1 {
    font-size: 10vw;
    font-family: 'poppins-bd';
    color: var(--very-dark-blue);
    line-height: 1em;
  }
  section.intro .contentBox p {
    color: var(--grayish-violet);
    margin: 0 0 1em 0;
  }
  section.intro .contentBox button {
    padding: 0.5em 2em;
    border-radius: 20px;
    font-family: 'poppins-bd';
    border: none;
    outline: none;
    background: none;
    color: white;
    background: var(--cyan);
  }
  section.intro .imgBox {
    width: 100%;
    height: unset;
    object-fit: contain;
    transform: translateX(0px);
  }
  section.intro .imgBox img {
    width: 100%;
  }
}
section.mid {
  padding: 4rem 0;
  position: relative;
  overflow-x: visible;
}
section.mid .main-form {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  background-image: url(images/bg-shorten-desktop.svg);
  background-color: var(--dark-violet);
  padding: 2.5rem 2rem;
  border-radius: 10px;
  display: flex;
}
section.mid .main-form input,
section.mid .main-form button {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.7rem 1.5rem;
  border-radius: inherit;
  border: none;
  outline: none;
  width: 70%;
}
section.mid .main-form button {
  margin-left: auto;
  width: 25%;
  background: none;
  color: white;
  background: var(--cyan);
}
section.mid .urls {
  display: block;
  width: 1100px;
  background: var(--gray);
  padding: 1rem;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
section.mid .urls .short-link {
  margin-left: auto;
}
section.mid .urls #copy-btn {
  margin: 0 0 0 1rem;
  color: #eee;
  background: var(--cyan);
  padding: 0.1rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.2rem 1.2rem;
  transition: 0.3s;
}
section.mid .urls #copy-btn:active {
  transform: scale(0.5);
}
section.mid article {
  padding: 4rem 0;
  font-family: 'poppins-bd';
}
section.mid article h2 {
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
}
section.mid article p {
  padding-bottom: 1rem;
  margin: auto;
  text-align: center;
  width: 550px;
  color: var(--grayish-violet);
}
section.mid .cards {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
section.mid .cards::before {
  top: 50%;
  content: '';
  position: absolute;
  width: 90%;
  height: 10px;
  background: var(--cyan);
}
section.mid .card {
  width: 350px;
  background: var(--gray);
  padding: 3rem 2rem;
  font-size: 0.8rem;
  transform: translateY(calc(40px * var(--i)));
  border-radius: 10px;
}
section.mid .card h3 {
  font-size: 1.2rem;
  padding: 0.3rem 0;
}
section.mid .card:nth-child(1)::before,
section.mid .card:nth-child(2)::before,
section.mid .card:nth-child(3)::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  top: 0;
  transform: translateY(-50%);
  background-color: var(--dark-violet);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
section.mid .card:nth-child(1)::before {
  background-image: url(images/icon-brand-recognition.svg);
}
section.mid .card:nth-child(2)::before {
  background-image: url(images/icon-detailed-records.svg);
}
section.mid .card:nth-child(3)::before {
  background-image: url(images/icon-fully-customizable.svg);
}
@media screen and (max-width: 1100px) {
  section.mid {
    padding: 4rem 0;
    position: relative;
    overflow-x: visible;
  }
  section.mid article {
    padding: 4rem 0;
    font-family: 'poppins-bd';
  }
  section.mid article h2 {
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  section.mid article p {
    padding-bottom: 1rem;
    margin: auto;
    text-align: center;
    width: 550px;
    color: var(--grayish-violet);
  }
  section.mid .cards {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  section.mid .cards::before {
    top: 50%;
    content: '';
    position: absolute;
    width: 80%;
    height: 10px;
    background: var(--cyan);
    transform: rotate(90deg);
  }
  section.mid .card {
    margin: 1rem 0;
  }
  section.mid .card:nth-child(1)::before,
  section.mid .card:nth-child(2)::before,
  section.mid .card:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--dark-violet);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  section.mid .urls {
    display: block;
    width: 90%;
    background: var(--gray);
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  section.mid .urls .short-link {
    margin: 1rem auto;
    color: #4b7a7c;
  }
  section.mid .urls #copy-btn {
    margin: 0 0 0 1rem;
    color: #eee;
    background: var(--cyan);
    padding: 0.1rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 0.2rem 1.2rem;
    transition: 0.3s;
  }
  section.mid .urls #copy-btn:active {
    transform: scale(0.5);
  }
}
@media screen and (max-width: 767px) {
  section.mid .cards::before {
    top: 50%;
    content: '';
    position: absolute;
    width: 120%;
    height: 10px;
    background: var(--cyan);
    transform: rotate(90deg);
  }
  section.mid article p {
    width: 90%;
  }
  section.mid .main-form {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90%;
    background-image: url(images/bg-shorten-desktop.svg);
    background-color: var(--dark-violet);
    padding: 1rem 1rem;
    border-radius: 10px;
    display: block;
  }
  section.mid .main-form input,
  section.mid .main-form button {
    margin: 0.3em 0;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 0.3rem 0.5rem;
    border-radius: inherit;
    border: none;
    outline: none;
    width: 100%;
  }
  section.mid .main-form button {
    display: block;
    margin-left: auto;
    width: 100%;
    background: none;
    color: white;
    background: var(--cyan);
  }
}
section.bottom {
  width: 100%;
  background-image: url(images/bg-boost-desktop.svg);
  background-color: var(--dark-violet);
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'poppins-bd';
}
section.bottom p {
  color: white;
  text-align: center;
  font-size: 4vw;
  margin: 0.2em 0;
}
section.bottom button {
  margin: auto;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 200px;
  background: none;
  color: white;
  background: var(--cyan);
}
footer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--very-dark-violet);
}
footer .logo {
  width: 125px;
  height: 35px;
  background-image: url(images/logo2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
}
footer .links ul {
  text-align: center;
  margin: 1rem 0;
  list-style: none;
}
footer .links ul li {
  color: var(--gray);
  transition: 0.5s;
  cursor: pointer;
}
footer .links ul li:hover {
  color: var(--cyan);
}
footer .links ul li:first-child {
  margin: 0.5rem 0;
  color: white;
  font-family: 'poppins-bd';
}
footer .soc-links {
  display: flex;
  list-style: none;
}
footer .soc-links li {
  cursor: pointer;
  margin: 0 0.3rem;
}
footer .soc-links li i {
  font-size: 1.6rem;
  color: white;
}
footer .soc-links li:hover i {
  color: var(--cyan);
  transition: 0.3s;
}
@media screen and (min-width: 767px) {
  footer {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--very-dark-violet);
  }
  footer .logo {
    width: 125px;
    height: 35px;
    background-image: url(images/logo2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1rem;
  }
  footer .links {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
  footer .links ul {
    text-align: left;
    margin: 1rem 0;
    list-style: none;
  }
  footer .links ul li {
    color: var(--gray);
  }
  footer .links ul li:first-child {
    margin: 0.5rem 0;
    color: white;
    font-family: 'poppins-bd';
  }
  footer .soc-links {
    display: flex;
    list-style: none;
  }
  footer .soc-links li {
    margin: 0 0.3rem;
  }
  footer .soc-links li i {
    font-size: 1.6rem;
    color: white;
  }
}
button:hover {
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
}
